.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  color: #61dafb;
  margin: 30px auto;
  padding: 10px;
}

.App-content {
  height: 100%;
  min-height: 60vh;
  min-width: 500px;
}

.App-input {
  width: 500px;
  margin: 30px auto;
  margin-bottom: 100px;
  padding: 10px;
  display: flex;
}

.App-text {
  width: 70%;
  height: 30px;
  margin-right: 10px;
}

.App-button {
  width: 30%;
}
